@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-ultra.ttf') format('truetype'),
    url('../fonts/gotham-bold.ttf') format('truetype'),
    url('../fonts/gotham-black.ttf') format('truetype');
}

@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

$title: 'Gotham Bold';

html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $title;
}

.testing {
  color: #111;
  font-size: 64px;
  line-height: 64px;
  font-family: 'Gotham Bold';
  height: 40px;
}

.navbar-light .navbar-toggler {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar {
  .navbar-nav {
    font-size: 56px;
    text-align: center;
    line-height: 72px;
    height: 100vh;
  }
  li:first-child {
    margin-top: 2.5em;
  }
}

button:focus {
  outline: none;
}

.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  img {
    width: 375px;
  }
}
.swiper-pagination-progressbar {
  background: none;
  .swiper-pagination-progressbar-fill {
    background: rgb(42, 161, 46);
  }
}

.home-action {
  float: right;
  margin-right: 2em;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
